.Course
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row
  background: #16131b
  @media all and (max-width: 1400px)
    flex-direction: column
    height: -webkit-fill-available
    padding: 20px 20px
    box-sizing: border-box
    padding-top: 150px
  position: relative
  .results-container
    z-index: 2
    width: 50%
    padding: 0 40px
    padding-top: 250px
    @media all and (max-width: 1400px)
      width: 100%
      padding: 0
    h1
    h2
      color: white
  video
    position: absolute
    pointer-events: none
    top: 100px
    height: 100vh
    z-index: 1
    object-fit: cover
    filter: brightness(80%) contrast(78%)
