  .layout
      width: 100%
      height: 100%
      overflow: hidden
      // -webkit-overflow-scrolling:

      video
        pointer-events: none
        z-index: 0
        object-fit: cover
        filter: brightness(80%) contrast(78%)